<div class="modal profile-modal change-password-modal">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="profile-modal-top-mobile">
            <div class="modal-exit desktop">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="modal-exit mobile">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="modal-content profile-modal-content">
            <div class="profile-modal-content__title">Изменение пароля</div>
            <div class="profile-modal-content__change-password">
                <form class="profile-modal-content__form" id="changePasswordForm">
                    <div class="input-wrapper">
                        <input type="password" class="profile-modal-content__input" id="changePasswordCurrentInput" required />
                        <span>Текущий пароль</span>
                        <label class="input-eye">
                        <input type="checkbox" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M14.1223 9.87975C15.2933 11.0508 15.2933 12.9518 14.1223 14.1248C12.9513 15.2958 11.0503 15.2958 9.87727 14.1248C8.70627 12.9538 8.70627 11.0527 9.87727 9.87975C11.0503 8.70675 12.9503 8.70675 14.1223 9.87975"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3 12C3 11.341 3.152 10.689 3.446 10.088V10.088C4.961 6.991 8.309 5 12 5C15.691 5 19.039 6.991 20.554 10.088V10.088C20.848 10.689 21 11.341 21 12C21 12.659 20.848 13.311 20.554 13.912V13.912C19.039 17.009 15.691 19 12 19C8.309 19 4.961 17.009 3.446 13.912V13.912C3.152 13.311 3 12.659 3 12Z"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </label> 
                    </div>
                    <a href="#!" data-modal="reset-password-modal" class="profile-modal-content__forgot-pwd">Забыли пароль?</a>
                    <div class="input-wrapper">
                        <input type="password" class="profile-modal-content__input" id="changePasswordNewInput" required />
                        <span>Новый пароль</span>
                        <label class="input-eye">
                        <input type="checkbox" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M14.1223 9.87975C15.2933 11.0508 15.2933 12.9518 14.1223 14.1248C12.9513 15.2958 11.0503 15.2958 9.87727 14.1248C8.70627 12.9538 8.70627 11.0527 9.87727 9.87975C11.0503 8.70675 12.9503 8.70675 14.1223 9.87975"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3 12C3 11.341 3.152 10.689 3.446 10.088V10.088C4.961 6.991 8.309 5 12 5C15.691 5 19.039 6.991 20.554 10.088V10.088C20.848 10.689 21 11.341 21 12C21 12.659 20.848 13.311 20.554 13.912V13.912C19.039 17.009 15.691 19 12 19C8.309 19 4.961 17.009 3.446 13.912V13.912C3.152 13.311 3 12.659 3 12Z"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </label>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" class="profile-modal-content__input" id="changePasswordRepeatNewInput" required />
                        <span>Повторите новый пароль</span>
                        <label class="input-eye">
                        <input type="checkbox" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M14.1223 9.87975C15.2933 11.0508 15.2933 12.9518 14.1223 14.1248C12.9513 15.2958 11.0503 15.2958 9.87727 14.1248C8.70627 12.9538 8.70627 11.0527 9.87727 9.87975C11.0503 8.70675 12.9503 8.70675 14.1223 9.87975"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3 12C3 11.341 3.152 10.689 3.446 10.088V10.088C4.961 6.991 8.309 5 12 5C15.691 5 19.039 6.991 20.554 10.088V10.088C20.848 10.689 21 11.341 21 12C21 12.659 20.848 13.311 20.554 13.912V13.912C19.039 17.009 15.691 19 12 19C8.309 19 4.961 17.009 3.446 13.912V13.912C3.152 13.311 3 12.659 3 12Z"
                                stroke="#7E8582"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </label>
                    </div>
                </form>
                <button class="btn btn__green" disabled type="submit" id="changePasswordButton">Изменить</button>
            </div>
        </div>
    </div>
</div>