<div class="modal recomendation-modal">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="recomendation-modal__top">
            <div class="recomendation-modal__title">Как сделать фото для площадки лучше</div>
            <div class="modal-exit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="modal-content recomendation-modal__content">
            <ul class="recomendation-modal__steps">
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">1. Отметьте самые примечательные детали в часах</div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">2. Подготовьте оборудование:</div>
                    <div class="recomendation-modal__step__desc">
                        Естественный свет. Если есть возможность разместить место для фотосъёмки рядом с большим окном, можно снимать при естественном освещении.
                    </div>
                    <div class="recomendation-modal__step__img">
                        <img src="./assets/images/rec-photo.webp" alt="Example" />
                        <span>Фото при естественном освещении</span>
                    </div>
                    <div class="recomendation-modal__step__desc">
                        Искусственный свет. Если не получается организовать место для съёмки рядом с окном, снимайте с искусственным светом. Если вы никогда не занимались предметной съёмкой, вам
                        поможет лайтбокс — световой куб с равномерным рассеянным освещением со всех сторон.
                    </div>
                </li>
            </ul>

            <ul class="recomendation-modal__steps">
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">1. Отметьте самые примечательные детали в часах</div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">2. Подготовьте оборудование:</div>
                    <div class="recomendation-modal__step__desc">
                        Естественный свет. Если есть возможность разместить место для фотосъёмки рядом с большим окном, можно снимать при естественном освещении.
                    </div>
                    <div class="recomendation-modal__step__img">
                        <img src="./assets/images/rec-photo.webp" alt="Example" />
                        <span>Фото при естественном освещении</span>
                    </div>
                    <div class="recomendation-modal__step__desc">
                        Искусственный свет. Если не получается организовать место для съёмки рядом с окном, снимайте с искусственным светом. Если вы никогда не занимались предметной съёмкой, вам
                        поможет лайтбокс — световой куб с равномерным рассеянным освещением со всех сторон.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
