<div class="modal recomendation-modal">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="recomendation-modal__top">
            <div class="recomendation-modal__title">Как сделать фото для площадки лучше</div>
            <div class="modal-exit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8 8L16 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16 8L8 16" stroke="#031E16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="modal-content recomendation-modal__content">
            <ul class="recomendation-modal__steps">
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">1. Хорошее освещение</div>
                    <div class="recomendation-modal__step__desc">Используйте естественное светлое освещение, если это возможно. Избегайте сильных теней, чтобы часы были четко видны.</div>
                    <div class="recomendation-modal__step__img">
                        <img src="./assets/images/rec-photo.webp" alt="Example" />
                        <span>Фото при естественном освещении</span>
                    </div>
                    <div class="recomendation-modal__step__desc">
                        Искусственный свет. Если не получается организовать место для съёмки рядом с окном, снимайте с искусственным светом. Если вы никогда не занимались предметной съёмкой, вам
                        поможет лайтбокс — световой куб с равномерным рассеянным освещением со всех сторон.
                    </div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">2. Чистый фон</div>
                    <div class="recomendation-modal__step__desc">Фон должен быть простым и не отвлекающим. Можно использовать белый, черный или нейтральный цветной фон.</div>
                    <div class="recomendation-modal__step__img">
                        <img src="./assets/images/rec-photo-2.webp" alt="Example" />
                        <span>Фото на чистом фоне</span>
                    </div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">3. Угол съемки</div>
                    <div class="recomendation-modal__step__desc">Зафиксируйте часы с разных ракурсов: спереди, сзади, сбоку. Сфокусируйтесь на деталях, таких как циферблат, ремешок, и механизм.</div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">4. Близкие крупные планы</div>
                    <div class="recomendation-modal__step__desc">Сделайте несколько крупных планов, чтобы покупатели могли ближе рассмотреть детали.</div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">5. Разные ракурсы</div>
                    <div class="recomendation-modal__step__desc">Покажите часы на руке, если это возможно, чтобы покупатели могли представить, как они будут смотреться на них.</div>
                    <div class="recomendation-modal__step__img">
                        <img src="./assets/images/rec-photo-3.webp" alt="Example" />
                        <span>Фото часов на руке</span>
                    </div>
                </li>
                <li class="recomendation-modal__step">
                    <div class="recomendation-modal__step__title">6. Качество изображения</div>
                    <div class="recomendation-modal__step__desc">Используйте хороший фотоаппарат или камеру с высоким разрешением. Обратите внимание на резкость и четкость изображения.</div>
                    <div class="recomendation-modal__step__desc">Не забывайте описывать характеристики и преимущества часов в объявлении, чтобы покупатели получили полную информацию.</div>
                </li>
            </ul>
        </div>
    </div>
</div>